<ng-progress></ng-progress>

<div class="row grey lighten-2">
    
    <div class="col 2"></div>

    <div class="col 4" profile>
        <img [src]='user.avatarUrl' alt="landing-page-image" class="circle">
        <div class="divider"></div>
        <div class="section">
            <span> ({{user.username}}) </span>
            
            <span class="grey darken-3"  profileSpan> {{ user.followers }} Followers </span>
            <span class="green darken-3" profileSpan> Following {{ user.following }} </span>
            
        </div>
        <div class="divider"></div>
        <div class="section">
            <a [href]='user.githubUrl' style='margin-left: 100px;' class="waves-effect waves-light btn lime accent-2">Profile</a>
        </div>
    </div>
    
    <div class="col 4" repoSection>
        
        <div class="container">
            <h5>Repositories</h5>

            <div class="section">
                <ul class="collection with-header" *ngFor='let oneRepo of repos'>
                    
                    <li class="collection-header" appHighlight>
                        {{oneRepo.name}}    
                        <a [href]='oneRepo.html_url' class="waves-effect waves-light btn lime accent-2" style="margin-left:50px; margin-bottom: 10px; font-size:10px">Visit</a>
                    </li>

                    <li class="collection-item" *ngIf='oneRepo.description'>{{ oneRepo.description }}</li>
                    <div class="creationDate" ><i class="material-icons">timelapse</i>
                         {{ oneRepo.created_at | dateCount }}
                    </div>
                    
                    <div class='divider'></div>
                </ul>
            </div>
        </div>   
    </div>
</div>


