<div class="col 2"></div>

<ng-progress></ng-progress>

<div class="row">

    <div class="col 4">
        <img [src]='user.avatarUrl' alt="landing-page-image" class="circle">
    </div>
    
    <div class="col 4">
        <ul class="collection with-header" >
            <li class="collection-header">{{ user.username }}</li>
            <li class="collection-header" >Repos:</li>
            <div *ngFor='let oneRepo of repos; let i = index'>
                <li class="collection-item" >{{ oneRepo.name }}</li>
            </div>    
                 
        </ul>
    </div>
</div>


