<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo" routerLink='home' >Github Search</a>

      <div class="form-navbar">
        <form #githubForm='ngForm'>
            <input (keyup.enter)='findProfile()' type="text" id="searchBar" placeholder="Search for User" 
                  [(ngModel)]='searchItem' name='searchItem' class="search-bar">
        </form>
      </div>
    </div> 
</nav>

<div>
    Ray: {{searchItem}}
    <p>User Name: {{user.username}}</p>
    <img [src]='user.avatarUrl' >
</div>
